@model Apps.Models.Sys.SysRoleModel
@using Apps.Web.Core;
@using Apps.Models.Sys;
@using Apps.Lang;
@{
    ViewBag.Title = "创建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<PermModel> perm = (List<PermModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}


<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            if ($('#CreateForm').valid()) {
                $.ajax({
                    url: "/SysRole/Create",
                    type: "Post",
                    data: $("#CreateForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
                return false;
            }
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });
</script>


<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "icon-save", BaseRes.Save, perm, "Save", true)
    @Html.ToolButton("btnReturn", "icon-return", BaseRes.Return, false)</div>
@using (Html.BeginForm("Create", "SysRole", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    @Html.ValidationSummary(true)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            @*<tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Id)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Id)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Id)</td>
            </tr>*@
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Name)：
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Description)：

                </td>

                <td>
                    @Html.TextAreaFor(model => model.Description, new { @style = "height:200px;width:550px" })

                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
        </tbody>
    </table>
}